<ion-view view-title="Graphics">
  <ion-content>
  <div class="bar  bar-positive">
   <h2 class="title">Choose</h2>
</div>
   <br><br><br><br>
  
  <button class="button button-block button-balanced" ng-click="cir()">
  Circle
</button>
  
<button class="button  button-block button-assertive" ng-click="rec()">
 Rectangle
</button>

<button class="button button-block button-royal" ng-click="eli()">
  Ellipse
</button>

<button class="button  button-block button-dark" ng-click="poly()">
  Polygon
</button>
  </ion-content>
</ion-view>
