<ion-view view-title="Database">
  <ion-content>
    
     <div class="bar  bar-assertive">
   <h2 class="title">Login Application </h2>
</div><br><br><br><br>

    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="fn">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="ln">
  </label>
</div>
<button class="button button-block button-balanced" ng-click="ins()">
  Insert
</button>
  </ion-content>
</ion-view>
