<ion-view view-title="EXP2">
  <ion-content>
    <center><h1>Display a button value</h1></center>
    <ion-list>
  <ion-radio ng-model="choice" ng-value="'Male'" >Male</ion-radio>
  <ion-radio ng-model="choice" ng-value="'Female'" >Female</ion-radio>
</ion-list>
<h3>you have selected: "{{choice}}"</h3>

<form name="myForm"  ng-submit="val()">
   <label><input type="radio" name="test" ng-model="radioValue" value="1"/> One</label>
   <label><input type="radio" name="test" ng-model="radioValue" value="2"/> Two</label>
   <label><input type="radio" name="test" ng-model="radioValue" value="3"/> Three</label>
   <div><h2>currently selected: {{radioValue}}<h2></div>
   <button type="submit">Submit</button>
</form>
  </ion-content>
}
}
</ion-view>
